.col-md-8 {
  background-color: white;
  margin-top: 100px;
  border: 5px solid black;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 121, 0.637);
  border-radius: 30px;
}

.nav-link1 {
  background-color: #04AA6D;
  color: white;
  padding: 15px 20px; /* Adjusted padding for smaller screens */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 0; /* Adjusted margins for smaller screens */
  cursor: pointer;
  border-radius: 10px;
}

/* Addclient.css */
.col-sidebar {
  float: left;
  width: 30%;
}

.col-form {
  float: left;
  width: 70%;
}

.block {
  margin: 20px;
}

/* Add more specific CSS styling as needed */

@media screen and (max-width: 800px) {
  .table {
      width: 100%; /* Full width for smaller screens */
  }

  .table th,
  .table td {
      white-space: normal; /* Wrap text for smaller screens */
  }

  .table-dark {
      color: #ffffff;
  }

  .col-sidebar {
      float: none; /* Remove float for full-width on smaller screens */
      width: 100%; /* Full width for smaller screens */
  }

  .col-md-8 {
      margin-left: 150px;
      width: 100%; /* Full width for smaller screens */
      border-radius: 0; /* Remove border-radius for full-width on smaller screens */
  }

  .nav-link1 {
      margin: 10px 0;
  }
}
@media screen and (max-width: 800px) {
  .table {
      width: 100%; /* Full width for smaller screens */
  }

  .table th,
  .table td {
      white-space: normal; /* Wrap text for smaller screens */
  }

  .table-dark {
      color: #ffffff;
  }

  .col-sidebar {
      float: none; /* Remove float for full-width on smaller screens */
      width: 100%; /* Full width for smaller screens */
  }

  .col-md-8 {
      margin-left: 150px;
      width: 100%; /* Full width for smaller screens */
      border-radius: 0; /* Remove border-radius for full-width on smaller screens */
  }

  .nav-link1 {
      margin: 10px 0;
  }
}
@media (min-width:200px) and (max-width: 400px) {
  .table {
    margin-left: 0px;
    width: 10%; /* Full width for smaller screens */
}
  .nav-link1 {
    padding: 10px; /* Adjusted padding for smaller screens */
    font-size: 8px; /* Adjusted font size for smaller screens */
  }
  .col-md-8 {
    width: 100%;
    margin-left: 150px;
    border-radius: 0; /* Remove border-radius for full-width on smaller screens */
}
}
