.col-md-8{
    background-color: white;
    margin-top:100px ;
    border: 5px solid black;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 121, 0.637);
    border-radius: 30px;
}
.nav-link1{
  background-color: #04AA6D; /* Green */
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 22vw ;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 10px;
}
/* Addclient.css */
.col-sidebar {
    float: left;
    width: 30%; /* Width of the sidebar */
  }
  
  .col-form {
    float: left;
    width: 70%; /* Width of the form area */
  }
  
  .block {
    margin: 20px; /* Margin for the form */
  }
  
  /* Add more specific CSS styling as needed */
  @media screen and (max-width: 960px) {
    .table {
      width: 20vw;
    }
  
    .table th,
    .table td {
      white-space: nowrap;
    }
  
    .table-dark {
      color: #ffffff;
    }
    .col-sidebar {
      float: left;
      width: 10vw; /* Width of the sidebar */
    }
    .col-md-8{
      margin-left: 150px;
      width: 70vw;
    }
  }
  