#container-appoint{
    margin-top: 20px;
    height: 70vh;
    width: 80%;
    border: 2px solid black;
}
.form{
    margin-top: 15px;
    padding:px;
    
}

#text-area{

    padding: 10px;
}

.area{
    border: 1px solid black;
}

#button{
    margin: 15px;
}

/* Media query for smaller screens */
@media (max-width: 750px) {
  #container-appoint{
    margin-top: 20px;
    height: 72vh;
    width: 70%;
    border: 2px solid black;

}
  .input-field {
    width: 90%; /* Set input fields to 100% width */
    margin-bottom: 15px; /* Add margin between input fields */
  }

  .login-button {
    margin-top: 15px; /* Add margin above the button */
  }
}
