/* dashboard.css */

/* For larger screens */
.bg-slide {
  display: flex;
  height: 100vh;
  width: 100vw;
  margin: auto;
}

.h1-slide {
  margin: auto;
  font-size: 3rem;
  
}

/* For smaller screens */
@media (max-width: 768px) {
  .bg-slide {
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    align-items: center;
  }

  .h1-slide {
    margin: 20px;
    font-size: 50px;
    text-align: center;
    align-items: center;
  }
}
