/* App.css */
.login-bg {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(172, 168, 168);
}

.login-container {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  align-items: center;
  height: 100vh;
  width: 100vw;

}
.input-marg {
  width: 80vw;
}

.full-page-loader1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.blur-background1 {
  filter: blur(4px); /* Adjust the blur intensity as needed */
  pointer-events: none; /* Allows pointer events to pass through the blurred elements */
}
 /* Login.css */
.success-message {
  color: green;
  margin-top: 5px;
  font-size: 0.9em;
}
/* Login.css */
.error-message {
  color: red;
  margin-top: 5px;
  font-size: 0.9em;
}


/* login.css */

/* Your existing CSS styles */

/* Media query for smaller screens */
@media (max-width: 612px) {
  .login-container {
    width: 100%; /* Adjust the width for smaller screens */
    padding: 10px; /* Add padding for better spacing on smaller screens */
  }

  .input-field {
    width: 100%; /* Set input fields to 100% width */
  }
  
  .login-form {
    margin-top: 20px; /* Add margin between form and other elements */
  }
}
