
/* Navbar */
.navbar-brand{
    font-size: larger;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.nav-link{
    font-size: larger;
    font-weight: bold;
    color: white;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 97px;
    width: 100%;
    z-index: -1;
    opacity: 0.6;
}